@tailwind base;
@tailwind components;
@tailwind utilities;

.mr-1 {
  margin-right: 3px;
}

.mt-4 {
  margin-top: 12px;
}

.creation_date {
  font-style: italic;
  font-weight: 600;
  text-align: end;
  margin-bottom: 0 !important;
}

.display-date {
  text-align: end;
  display: block;
}

.mb-0 {
  margin-bottom: 0 !important;
}
/* Stili per la dark mode dei componenti MUI */
.dark .MuiTextField-root {
  background-color: #1e1e1e !important;
  color: #ffffff !important;
  border-radius: 8px;
}

.dark .MuiOutlinedInput-root {
  border-color: #90caf9 !important;
}

.dark .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #bbdefb !important;
}

.dark .MuiInputLabel-root {
  color: #90caf9 !important;
}

.dark .MuiButton-root {
  background-color: #333 !important;
  color: #fff !important;
}

.dark .MuiButton-root:hover {
  background-color: #444 !important;
}
