@tailwind base;
@tailwind components;
@tailwind utilities;

.mr-1{
    margin-right: 3px;
}

.mt-4{
    margin-top:12px;
}

.creation_date{
    font-style: italic;
    font-weight: 600;
    text-align:end;
    margin-bottom:0!important;
}

.align-text-end{
    text-align: end;
}

.mb-0{
    margin-bottom:0!important;
}